{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "document": true,
    "window": true
  },
  "env": {
    "jest": true
  },
  "plugins": [
    "jest",
    "prettier"
  ],
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.3"
    }
  },
  "rules": {
    "prettier/prettier": "error",
    "arrow-body-style": [2, "always"],
    "no-console": 0,
    "no-param-reassign": 0,
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0,
    "global-require": 0,
    "jsx-a11y/media-has-caption": 0,
    "import/prefer-default-export": 0,
    "react/forbid-prop-types": 0,
    "max-len": 0,
    "jsx-a11y/accessible-emoji": 0,
    "jsx-a11y/href-no-hash": 0,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error",
    "no-underscore-dangle": 0,
    "react/jsx-one-expression-per-line": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "react/jsx-props-no-spreading": 0,
    "react/forbid-foreign-prop-types": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/destructuring-assignment": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "react/require-default-props": 0,
    "react/default-props-match-prop-types": 0,
    "react/prop-types": 0
  }
}