{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "jest": true
  },
  "plugins": [
    "jest"
  ],
  "rules": {
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "no-console": 0,
    "no-param-reassign": 0,
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0,
    "global-require": 0,
    "jsx-a11y/media-has-caption": 0,
    "import/prefer-default-export": 0,
    "react/forbid-prop-types": 0,
    "max-len": 0,
    "jsx-a11y/accessible-emoji": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/href-no-hash": 0,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error"
  },
  "globals": {
    "document": true,
    "window": true
  }
}