@import '_variables.sass';

.app {
  .navbar {
    font-weight: 600;
    font-size: 18px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.05);
    z-index: 40 !important;
    .container {
      max-width: 96%;
    }
    .navbar-item .icon {
      margin-right: 0.5rem;
    }
  }

  .page-content {
    flex: 1;
    align-self: stretch;
    display: flex;
    flex-direction: column;
  }

  .page-footer {
    a {
      font-weight: bold;
      color: $dark;
    }
  }
}