@import "_variables.sass";
@import "~bulma/sass/base/_all.sass";

h1 {
  font-size: var(--ifm-h1-font-size);
}
h2 {
  font-size: var(--ifm-h2-font-size);
}
h3 {
  font-size: var(--ifm-h3-font-size);
}
h4 {
  font-size: var(--ifm-h4-font-size);
}
h5 {
  font-size: var(--ifm-h5-font-size);
}
h6 {
  font-size: var(--ifm-h6-font-size);
}