.tag.token {
  background-color: unset;
  border-radius: unset;
  display: unset;
  font-size: 1em;
  height: unset;
  padding-left: unset;
  padding-right: unset;
  white-space: unset;
}
.number.token {
  margin-right: unset;
}

pre code {
  color: white;
}